<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.syncecleaner">

    <application
        android:name=".MainApplication"
        android:label="Synce Cleaner"
        android:icon="@mipmap/ic_launcher"        <!-- IMPORTANT -->
        android:roundIcon="@mipmap/ic_launcher"   <!-- safe default -->
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Synce Cleaner"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
